:root {
    --blue: #4e73df;
    --primary: #22b9ff;
    --dark-primary: #4285F4;
    --light: #f1f2f7;
    --dark: #5a5c69;
    --black: #111113;
    --gray: #CCCEDB;
    --gray-dark: #b7b9cc;
    --teal: #20c9a6;
    --green: #1cc88a;
    --dark-green: #16A06E;
    --white: #fff;
    --info: #36b9cc;
    --success: #1cc88a;
    --danger: #E54F4F;
    --warning: #fbce44;
    --secondary: #858796;
    --dark-danger: #B83B2F;
    --cyan: #36b9cc;
    --pink: #E91E63;
    --orange: #fd7e14;
}

body, html {
    margin: 0;
    padding: 0;
    position: relative;
    background: var(--light);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: var(--dark);
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* =================================
         Top Navigation
================================= */

.navbar {
    box-shadow: rgba(58, 59, 69, 0.15) 0px 2.4px 28px 0px;
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999 !important;
    background: #fff;
}

.navbar-brand {
    text-transform: uppercase;
    color: var(--dark-primary);
    font-size: 17px;
    transition: color 250ms ease;
    font-weight: 700;
}

    .navbar-brand:hover {
        color: var(--blue);
    }

.topnav-link {
    color: var(--gray);
    transition: color 250ms ease;
}

    .topnav-link:hover {
        color: var(--gray-dark);
    }

.topnav-user-link {
    color: var(--danger);
    transition: color 250ms ease;
}

    .topnav-user-link:hover {
        color: var(--dark-danger);
    }

.topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem
}

/* =================================
      Top Navigation Dropdown
================================= */

.dropdown-menu {
    margin-top: 10px;
    border: none;
    border-radius: 0.625rem;
    box-shadow: rgba(58, 59, 69, 0.15) 0px 2.4px 28px 0px;
}

.dropdown-item {
    padding-left: 15px;
}

.dropdown-menu a {
    font-size: 13.6px;
    font-weight: 400 !important;
}

    .dropdown-menu a i {
        color: #d1d3e2;
    }

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #eaecf4;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu.topnav-dropdown.show {
    left: -140px;
}

.user-dropdown {
    left: -40px;
    width: 100px;
}

/* =================================
        Side Navigation
================================= */

aside {
    position: fixed;
    top: 7vh;
    bottom: 0;
    left: 0;
    width: 15rem;
    padding: 5px;
    background: #fff;
    border-right: 1px solid var(--light);
    z-index: 9999;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 15px;
}

.sidebar-item {
    margin: 5px 0;
    padding: 10px 15px;
    transition: background 250ms ease;
    border-radius: 0.625rem;
    position: relative;
}

    .sidebar-item:hover {
        background: var(--light);
    }

        .sidebar-item:hover .sidebar-item .caret {
            z-index: 9999999 !important;
        }

    .sidebar-item .caret {
        position: absolute;
        top: 14px;
        right: 20px;
        color: var(--secondary);
        z-index: 1;
    }

    .sidebar-dropdown {
        padding-left: 20px;
        padding-top: 5px;
    }

    .sidebar-dropdown-item {
        padding: 4px 10px;
        border-radius: 2px;
        transition: all 250ms ease;
    }

    .sidebar-dropdown-item:hover {
        background: var(--white);
        color: var(--dark);
    }

.sidebar-dropdown-link {
    color: var(--dark);
    display: block;
    font-size: 14px;
}

.fakture-icon {
    color: var(--gray) !important;
    margin-right: 3px;
}

.racuni-icon {
    color: var(--primary) !important;
    margin-right: 3px;
}

.pazari-icon {
    color: var(--green) !important;
    margin-right: 3px;
}

.sidebar-link {
    color: var(--dark);
    font-size: 15px;
    text-decoration: none !important;
    display: block;
}

    .sidebar-link i {
        color: var(--primary);
        margin-right: 5px;
    }

/* =================================
        Active Page Class
================================= */
.active {
    background: var(--light);
}

    .active a {
        color: var(--primary);
        font-weight: 500;
    }

/* =================================
      Page Content Wrapper
================================= */

#wrapper {
    position: relative;
    z-index: 1 !important;
}

#content-wrapper {
    margin-top: 8vh;
    min-height: 93vh;
    margin-left: 15rem;
    padding: 15px 10px;
    overflow: hidden;
    z-index: 1 !important;
}

/* =================================
            Modal
================================= */
.modal-title {
    color: var(--gray);
}
.modal-content {
    border: 1px solid transparent;
    border-radius: 0.625rem;
}

.modal-title {
    color: var(--dark) !important;
}

.modal-body {
    color: var(--dark);
}


.modal-footer {
    border: none;
}

.modal-header {
    padding: 10px 15px 5px 15px;
}

/* =================================
            Buttons
================================= */
.btn-general {
    border-radius: 2px;
    padding: 6px 22px
}

.btn--danger {
    background: var(--danger);
    color: #fff;
}

.btn--danger:hover {
    background: var(--dark-danger);
}

.btn--green {
    background: var(--light);
    color: var(--dark);
}

    .btn--green:hover {
        background: var(--green);
        color: var(--white);
    }

.btn--primary {
    background: var(--primary);
    color: #fff;
}

    .btn--primary:hover {
        background: var(--dark-primary);
    }

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06) !important;
}

.shadow-lg {
    box-shadow: rgba(58, 59, 69, 0.15) 0px 2.4px 28px 0px !important;
}

/* =================================
         Panels
================================= */
._panel {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0;
    background: var(--white);
    color: #fff !important;
    padding: 30px;
    border-radius: 0.625rem;
    transition: all 150ms ease;
}

._panel:hover {
    background: #fafafa;
}

._panel-inner {
    text-align: center;
}

._panel h3 {
    color: var(--dark);
    font-size: 24px;
}

._panel i {
    color: var(--primary);
    font-size: 28px;
    margin-bottom: 10px;
}

.fakture i {
    color: var(--gray);
}

.pazari i {
    color: var(--green);
}


.statistika i {
    color: var(--danger);
}

/* =================================
         Card
================================= */

._card {
    border: 1px solid transparent;
    border-radius: 0;
    background: var(--white);
    color: var(--dark) !important;
    padding: 30px;
    border-radius: 0.625rem;
    transition: all 150ms ease;
}

._card-title {
    font-size: 32px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid var(--light);
}

.form-control {
    border-radius: 2px;
    box-shadow: none !important;
    color: var(--dark);
    font-weight: 400;
}

.form-control:focus {
    border-color: var(--primary) !important;
}

.btn {
    box-shadow: none !important;
}

#billTable table {
    color: var(--dark);
    border: none;
    border-radius: 0.625rem;
}

    #billTable tbody tr {
        transition: background 350ms ease;
    }

        #billTable tbody tr:hover {
            background: var(--light) !important;
        }

    #billTable table td {
        border-color: var(--light);
        padding: 15px 5px;
    }

.billTableTr {
    background: var(--primary);
    color: var(--white);
    font-size: 14px;
}

    .billTableTr th {
        font-weight: 500 !important;

    }

    .billTableTr th {
        border: none !important;
    }

.table-link {
    color: #e0e0e0 !important;
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
    text-decoration: none !important;
    transition: all 350ms ease;
}

    .table-link:nth-child(1):hover,
    .table-link:nth-child(2):hover {
        color: #515156 !important;
    }

button.table-link:hover {
    color: #dc2751 !important;
}

.pagination {
    margin: 30px 0 !important;
}

#billTable_previous {
    border-color: var(--light) !important;
    background: var(--white) !important;
}

    .pagination .page-item a {
        background: var(--white) !important;
        color: var(--dark);
        border-color: var(--light);
        box-shadow: none;
        transition: background 350ms ease;
    }

        .pagination .page-item a:hover {
            background: var(--light) !important;
        }

    .pagination .page-item.active a {
        background: var(--primary) !important;
        color: var(--white);
        border-color: var(--primary);
    }

.createNewLink {
    color: #e0e0e0;
    text-decoration: none !important;
    border-bottom: 1px dotted #e0e0e0;
    transition: all 350ms ease;
}

    .createNewLink:hover {
        color: #B01F40;
        border-color: #B01F40;
    }