:root {
    --blue: #4e73df;
    --primary: #4285F4;
    --dark-primary: #346AC3;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --black: #111113;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --teal: #20c9a6;
    --green: #1cc88a;
    --white: #fff;
    --info: #36b9cc;
    --success: #1cc88a;
    --danger: #e74a3b;
    --warning: #f6c23e;
    --secondary: #858796;
    --dark-danger: #B83B2F;
}

body, html {
    margin: 0;
    padding: 0;
    position: relative;
    background: var(--light);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: var(--dark);
}

/* =================================
         Top Navigation
================================= */

.navbar {
    box-shadow: rgba(58, 59, 69, 0.15) 0px 2.4px 28px 0px;
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999 !important;
    background: #fff;
}

.navbar-brand {
    text-transform: uppercase;
    color: var(--primary);
    font-size: 17px;
    transition: color 250ms ease;
    font-weight: 700;
}

    .navbar-brand:hover {
        color: var(--blue);
    }

.topnav-link {
    color: #b7b9cc;
    transition: color 250ms ease;
}

    .topnav-link:hover {
        color: #858796;
    }

.topnav-user-link {
    color: var(--secondary);
    transition: color 250ms ease;
}

    .topnav-user-link:hover {
        color: var(--indigo);
    }

.topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem
}

/* =================================
      Top Navigation Dropdown
================================= */

.dropdown-menu {
    margin-top: 10px;
    border: none;
    border-radius: 7px;
    box-shadow: rgba(58, 59, 69, 0.15) 0px 2.4px 28px 0px;
}

.dropdown-item {
    padding-left: 15px;
}

.dropdown-menu a {
    font-size: 13.6px;
    font-weight: 400 !important;
}

    .dropdown-menu a i {
        color: #d1d3e2;
    }

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #eaecf4;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu.topnav-dropdown.show {
    left: -140px;
}

.user-dropdown {
    left: -40px;
    width: 100px;
}

/* =================================
        Side Navigation
================================= */

aside {
    position: fixed;
    top: 7vh;
    bottom: 0;
    left: 0;
    width: 15rem;
    padding: 5px;
    background: #fff;
    border-right: 1px solid var(--light);
    z-index: 9999;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 15px;
}

.sidebar-item {
    margin: 5px 0;
    padding: 10px 15px;
    transition: background 250ms ease;
    border-radius: 5px;
}

    .sidebar-item:hover {
        background: var(--light);
    }


.sidebar-link {
    color: var(--dark);
    font-size: 15px;
    text-decoration: none !important;
    display: block;
    font-weight: 300;
}

    .sidebar-link i {
        color: var(--primary);
        margin-right: 5px;
    }

/* =================================
        Active Page Class
================================= */
.active {
    background: var(--light);
}

    .active a {
        color: var(--primary);
        font-weight: 500;
    }

/* =================================
      Page Content Wrapper
================================= */

#wrapper {
    position: relative;
    z-index: 1 !important;
}

#content-wrapper {
    margin-top: 7vh;
    min-height: 93vh;
    margin-left: 15rem;
    padding: 15px 10px;
    overflow: hidden;
    z-index: 1 !important;
}

/* =================================
            Modal
================================= */
.modal-title {
    color: var(--gray);
}
.modal-content {
    border: 1px solid transparent;
    border-radius: 0 !important;
}

.modal-title {
    color: var(--gray-dark) !important;
}

.modal-body {
    color: var(--dark);
}


.modal-footer {
    border: none;
}

.modal-header {
    padding: 10px 15px 5px 15px;
}

/* =================================
            Buttons
================================= */
.btn-general {
    border-radius: 2px;
    padding: 6px 22px
}

.btn--danger {
    background: var(--danger);
    color: #fff;
}

.btn--danger:hover {
    background: var(--dark-danger);
}

.btn--primary {
    background: var(--primary);
    color: #fff;
}

    .btn--primary:hover {
        background: var(--dark-primary);
    }

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06) !important;
}