@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <a href="/Invoice/Index">
                <div class="_panel _panel-facture">
                    <div class="d-flex flex-row align-items-center">
                        <i class="fas fa-fw fa-folder"></i>
                        <div class="ml-4">
                            <h6>3580</h6>
                            <p>Faktura</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="/Bill/Index">
                <div class="_panel _panel-bill">
                    <div class="d-flex flex-row align-items-center">
                        <i class="fas fa-fw fa-money-bill"></i>
                        <div class="ml-4">
                            <h6>3580</h6>
                            <p>Racuna</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <div class="_panel _panel-earnings">
                <div class="d-flex flex-row align-items-center">
                    <i class="fas fa-fw fa-money-check"></i>
                    <div class="ml-4">
                        <p>Pazar</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="_panel _panel-statistics">
                <div class="d-flex flex-row align-items-center">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <div class="ml-4">
                        <p>Statistika</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>