@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <a href="#">
                <div class="_panel fakture">
                    <div class="_panel-inner">
                        <i class="fas fa-fw fa-folder"></i>
                        <h3>Fakture</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="/Bill/Index">
                <div class="_panel racuni">
                    <div class="_panel-inner">
                        <i class="fas fa-fw fa-folder"></i>
                        <h3>Racuni</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#">
                <div class="_panel pazari">
                    <div class="_panel-inner text-center">
                        <i class="fas fa-fw fa-money-check"></i>
                        <h3>Pazari</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#">
                <div class="_panel statistika">
                    <div class="_panel-inner text-center">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <h3>Statistika</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>