.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 14rem;
    z-index: 9999;
    background: #fff;
    padding-top: 20px;
}

.sidebar .nav-link {
    color: #343a40 !important;
    font-size: 28px;
    width: 90% !important;
    padding: 0 15px 5px 15px !important;
}

    .sidebar .nav-link span,
    .sidebar .nav-link i {
        padding-bottom: 15px !important;
    }

.sidebar .nav-link::after {
    font-size: 16px;
    color: #ccc !important;
    margin-top: 15px;
}

.sidebar .collapse-inner {
    background: transparent !important;
}

.sidebar .collapse-inner .collapse-item:hover {
    background: #fff !important
}

.sidebar .nav-item:hover {
    background: #f4f4f4 !important;
    color: #4e73df;
}

.sidebar .nav-link i {
    color: #4e73df !important;
}


.top-nav .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 0rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;
    background: #fff !important;
    font-weight: 700 !important;
    color:#343a40 !important;
  }

.top-nav {
    z-index: 999999 !important;
}

#content-wrapper {
    margin-top: 70px;
    margin-left: 14rem;
    padding: 15px 10px;
    min-height: 100vh;
}


